// Place all the styles related to the Dreams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.años_dream_form {
	display:inline-block
}
.dream-dropdown{
	font-size: 16px;
}
.show_bottons {
	a {
		padding: 5px 10px 5px 10px;
	}
	text-align: center;
	a:link {
		margin: 3px 12px 3px 12px;
	}
	a:hover {
		text-decoration: none;
		background-color: lightgreen;
		border: 2px;
		border-radius: 15px;
	}
}
.index-new {
	padding: 15px 0 15px 0;
	margin-top: 118px;
}